.rootContainer {
  z-index: 100;
}

.chartContainer {
  overflow: auto;
  height: 100vh;
  width: 98%;
  position: absolute;
  z-index: 100;
  border-radius: 10px;
}

.chart {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}

.collapsible {
  background-color: rgba(40, 40, 40, 0.5);
  color: white;
  cursor: pointer;
  border: none;
  text-align: center;
  outline: none;
  padding: 6px;
  margin: 5px;
  border-radius: 9px;
}

.collapsible:hover {
  background-color: rgba(40, 40, 40, 0.7);
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.buttonContainer {
  display: inline-block;
  cursor: pointer;
}

.bar1 {
  width: 25px;
  height: 3px;
  background-color: rgba(255, 99, 132, 0.8);
  margin: 4px 0;
  transition: 0.4s;
}

.bar2 {
  width: 10px;
  height: 3px;
  background-color: rgba(54, 162, 235, 0.8);
  margin: 4px 0;
  transition: 0.4s;
}

.bar3 {
  width: 15px;
  height: 3px;
  background-color: rgba(255, 206, 86, 0.8);
  margin: 4px 0;
  transition: 0.4s;
}

.baseLine {
  background-color: #333;
  width: 2px;
  margin-right: 1px;
  height: 25px;
  display: inline-block;
}

.barsContainer {
  display: inline-block;
}

.active .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-6px, 5px);
  background-color: #333;
}

.active .bar2 {
  opacity: 0;
}

.active .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-4px, -4px);
  width: 25px;
  background-color: #333;
}

.active .baseLine {
  width: 0px;
  margin-left: 0px;
}
